<title>Wikipedia Search & Replace</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="script.js"></script>
<link rel="stylesheet" href="style.css">

<div ng-app="myApp" ng-controller="wikiSearch" class="card">
    <h1>Wikipedia Search and Replace</h1>
    <h4>Search Wikipedia by typing a phrase below.</h4>

    <p class="title">SEARCH PHRASE</p>
    <input ng-model-options="{debounce:1000}"
           ng-disabled="loadingSearch"
           ng-model="searchPhrase" ng-change="getSearchResultFromWikipedia(searchPhrase)" type="text" id="search"
           placeholder="Search Wikipedia" required>

    <button type="button" ng-click="getSearchResultFromWikipedia(searchPhrase)" id="search-button">Search</button>

    <p class="title">REPLACE WITH</p>
    <input ng-model="replacement" type="text" id="replace" placeholder="Replacement" required>

    <button type="button" ng-click="replaceFirstOccurrence(replacement)" id="replace-button">Replace</button>

    <button type="button" ng-click="replaceAll(replacement)" id="replace-all-button">Replace All</button>


    <p class="loading-text" ng-show="loadingSearch">Loading..</p>

    <p class="error-text" ng-show="searchError">Error!! Be sure to disable same origin policy</p>


    <div ng-repeat="entry in entries">
        <div class="card-results">

            <h4>{{entry.title}}</h4>

            <p ng-bind-html="entry.snippet |trusted"></p>


        </div>
    </div>

</div>
